<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header style="background-color: #cc0000 !important;">
    <mz-navbar>
      <a href="#" class="brand-logo">GanaClaro</a>
    </mz-navbar>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/main"><i class="material-icons">
      dashboard
    </i>Dashboard</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/reportes"><i class="material-icons">
      insert_chart
    </i>Reportes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/add"><i class="material-icons">
      account_circle
    </i>Agregar usuario</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/prom"><i class="material-icons">
attach_money
</i>Promociones</a>
  </mz-sidenav-link>
 <mz-sidenav-link>
    <a routerLink="/puntos"><i class="material-icons">
      monetization_on
    </i>Puntos</a>
  </mz-sidenav-link>
</mz-sidenav>
<mz-navbar style="background-color: #cc0000 !important;">
  <img src="assets/images/logo.png" style="width: 120px;
    margin: 5px 0 0 5px">
  <i class="material-icons" style="color: white; font-size: 48px;cursor: pointer;    position: absolute;
    top: 0;
    right: 0;" id="btn-sidenav-demo">
    menu
  </i>
</mz-navbar>
<mz-input-container >
  <input mz-input style="width:20vw; margin: 10% 2% 2% 14%;"
         [label]="'Buscar'"
         [validate]="true"
         id="busqueda"
         placeholder="Buscar por nombre, local, ciudad y/o departamento"
         length="150"
         type="text" (keyup)="change($event.target.value)">
</mz-input-container>
<table class="striped" style="width:70vw;  margin: 0 0 0 14%;">
  <thead>
  <tr style="width: auto !important;">
    <th style="width: 20% !important;">Nombre</th>
    <th>Local</th>
    <th>Ciudad</th>
    <th>Departamento</th>
    <th>Puntos</th>
    <th>Redimidos</th>
    <th>Por redimir</th>
    <th>Puntos a Redimir</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" class="centered">
    <td>{{user.nombre}}</td>
    <td>{{user.local}}</td>
    <td>{{user.ciudad}}</td>
    <td>{{user.departamento}}</td>
    <td>{{user.puntos}}</td>
    <td>{{user.redimidos}}</td>
    <td>{{user.puntos - user.redimidos}}</td>
    <td>
      <mz-input-container>
        <input mz-input
               [label]="'Puntos'"
               [validate]="true"
               id="redimir"
               #red
               placeholder="Puntos a redimir"
               type="number">
      </mz-input-container>
      <button mz-button [disabled]="!red.value" (click)="redimir(user.id, red.value,user.puntos ,user.redimidos)">
        Redimir
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="users.length" style="width: 70vw;
    margin: 0 0 0 14%;
    font-size: 26px;
    background-color: darkgrey;
    text-align: center;">No hay datos disponibles
</div>
