<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header style="background-color: #cc0000 !important;">
    <mz-navbar>
      <a href="#" class="brand-logo">GanaClaro</a>
    </mz-navbar>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/main"><i class="material-icons">
      dashboard
    </i>Dashboard</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/reportes"><i class="material-icons">
      insert_chart
    </i>Reportes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/add"><i class="material-icons">
      account_circle
    </i>Agregar usuario</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/prom"><i class="material-icons">
attach_money
</i>Promociones</a>
  </mz-sidenav-link>
 <mz-sidenav-link>
    <a routerLink="/puntos"><i class="material-icons">
      monetization_on
    </i>Puntos</a>
  </mz-sidenav-link>
</mz-sidenav>

<mz-navbar style="background-color: #cc0000 !important;">
  <img src="assets/images/logo.png" style="width: 120px;
    margin: 5px 0 0 5px">
  <mz-navbar-item-container [align]="'right'">
    <i class="material-icons" style="color: white; font-size: 48px;cursor: pointer" id="btn-sidenav-demo">
      menu
    </i>

  </mz-navbar-item-container>
</mz-navbar>
<div style=" margin-top: 10%;
    justify-content: center;
    align-items: center;">
  <form style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;" [formGroup]="addUserForm" (submit)="add(addUserForm)">
    <h3>Formulario de ingreso</h3>

    <div class="div">
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Nombre'"
               formControlName="nombre"
               [validate]="true"
               [dataError]="'Nombre es invalido'"
               [dataSuccess]="'Correcto'"
               id="nombre"
               placeholder="Ingrese el nombre"
               length="100"
               type="text">
      </mz-input-container>
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Nombre local'"
               formControlName="local"
               [validate]="true"
               [dataError]="'Nombre de local es invalido'"
               [dataSuccess]="'Correcto'"
               id="nombre_local"
               placeholder="Ingrese el nombre del local"
               length="100"
               type="text">
      </mz-input-container>
    </div>
    <div class="div">
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Teléfono'"
               formControlName="telefono"
               [validate]="true"
               [dataError]="'Teléfono es invalido'"
               [dataSuccess]="'Correcto'"
               id="telefono"
               placeholder="Ingrese el teléfono"
               length="10"
               type="tel">
      </mz-input-container>
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Teléfono local'"
               [validate]="true"
               formControlName="telefono_local"
               [dataError]="'telefono del local es invalido'"
               [dataSuccess]="'Correcto'"
               id="telefono_local"
               placeholder="Ingrese el telefono del local"
               length="10"
               type="tel">
      </mz-input-container>
    </div>
    <div class="div">
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Ciudad'"
               formControlName="ciudad"
               [validate]="true"
               [dataError]="'Ciudad es invalido'"
               [dataSuccess]="'Correcto'"
               id="ciudad"
               placeholder="Ingrese la ciudad"
               length="100"
               type="text">
      </mz-input-container>
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Departamento'"
               formControlName="departamento"
               [validate]="true"
               [dataError]="'Departamento es invalido'"
               [dataSuccess]="'Correcto'"
               id="departamento"
               placeholder="Ingrese el departamento"
               length="100"
               type="text">
      </mz-input-container>
    </div>
    <div class="div">
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Barrio'"
               [validate]="true"
               formControlName="barrio"
               [dataError]="'Barrio es invalido'"
               [dataSuccess]="'Correcto'"
               id="barrio"
               placeholder="Ingrese el barrio"
               length="100"
               type="text">
      </mz-input-container>
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Dirección'"
               formControlName="direccion"
               [validate]="true"
               [dataError]="'Dirección es invalido'"
               [dataSuccess]="'Correcto'"
               id="direccion"
               placeholder="Ingrese la dirección"
               length="100"
               type="text">
      </mz-input-container>
    </div>
    <div class="div">
      <mz-input-container class="inputs">
        <input mz-input
               [label]="'Cédula'"
               [validate]="true"
               formControlName="cedula"
               [dataError]="'Cédula es invalido'"
               [dataSuccess]="'Correcto'"
               id="cedula"
               placeholder="Ingrese el cédula"
               length="20"
               type="number">
      </mz-input-container>
    </div>
    <div class="column w-75">
      <button mz-button class="red" [disabled]="addUserForm.invalid">
        Ingresar
      </button>
    </div>
  </form>
</div>
