.inputs {
  width: 40% !important;
  margin: 0 4% 0 4%;
}
.div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .inputs {
    width: 100% !important;
  }
  .div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
