<main>
  <div class="logo">
    <img src="assets/images/logo2.png" alt="logo" style="height: 256px; width: 256px;">
  </div>
  <div class="form">
    <form class="column center-center" style="width: 100%" [formGroup]="LoginForm" (submit)="auth(LoginForm)">
      <mz-input-container class="w-75">
        <i mz-icon-mdi mz-input-prefix class="material-icons">
          mail
        </i>
        <input mz-input
               style="font-size: 1.6rem;"
               [label]="'Correo'"
               formControlName="correo"
               [validate]="true"
               [dataError]="'Correo es invalido'"
               [dataSuccess]="'Email correcto'"
               id="email"
               placeholder="Ingrese su correo"
               length="100"
               type="email">
      </mz-input-container>
      <mz-input-container class="w-75">
        <i mz-icon-mdi mz-input-prefix class="material-icons">
          lock
        </i>
        <input mz-input
               style="font-size: 1.6rem;"
               [label]="'Contraseña'"
               formControlName="contrasena"
               [validate]="true"
               [dataError]="'Contraseña es invalido'"
               id="contrasena"
               placeholder="Ingrese su contraseña"
               length="100"
               type="{{type}}">
        <i mz-icon-mdi mz-input-prefix class="material-icons" (click)="showPassword()">
          {{icon}}
        </i>
      </mz-input-container>

      <div class="column w-75">
        <button mz-button class="red" [disabled]="LoginForm.invalid">
          Ingresar
        </button>
      </div>
    </form>
  </div>
</main>
