main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.logo {
  background-color: #cc0000;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 768px) {
    height: 50%;
    width: 100%;
  }
}

.form {
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 768px) {
    height: 50%;
    width: 100%;
  }
}
