<mz-navbar style="background-color: #cc0000 !important;">
  <img [align]="'left'" src="assets/images/logo.png" style="width: 120px;
    margin: 5px 0 0 5px">
  <mz-navbar-item-container [align]="'right'">
    <i class="material-icons" style="color: white; font-size: 48px;cursor: pointer" id="btn-sidenav-demo">
      menu
    </i>
  </mz-navbar-item-container>
</mz-navbar>

<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header style="background-color: #cc0000 !important;">
    <mz-navbar>
      <a href="#" class="brand-logo">GanaClaro</a>
    </mz-navbar>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/main"><i class="material-icons">
      dashboard
    </i>Dashboard</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/reportes"><i class="material-icons">
      insert_chart
    </i>Reportes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/add"><i class="material-icons">
      account_circle
    </i>Agregar usuario</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/prom"><i class="material-icons">
      attach_money
    </i>Promociones</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/puntos"><i class="material-icons">
      monetization_on
    </i>Puntos</a>
  </mz-sidenav-link>
</mz-sidenav>
