<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header style="background-color: #cc0000 !important;">
    <mz-navbar>
      <a href="#" class="brand-logo">GanaClaro</a>
    </mz-navbar>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/main"><i class="material-icons">
      dashboard
    </i>Dashboard</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/reportes"><i class="material-icons">
      insert_chart
    </i>Reportes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/add"><i class="material-icons">
      account_circle
    </i>Agregar usuario</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/prom"><i class="material-icons">
attach_money
</i>Promociones</a>
  </mz-sidenav-link>
 <mz-sidenav-link>
    <a routerLink="/puntos"><i class="material-icons">
      monetization_on
    </i>Puntos</a>
  </mz-sidenav-link>
</mz-sidenav>
<mz-navbar style="background-color: #cc0000 !important;">
  <img src="assets/images/logo.png" style="width: 120px;
    margin: 5px 0 0 5px">
  <i class="material-icons" style="color: white; font-size: 48px;cursor: pointer;    position: absolute;
    top: 0;
    right: 0;" id="btn-sidenav-demo">
    menu
  </i>
</mz-navbar>

<div class="row" style=" margin-top: 8%;
    justify-content: center;
    align-items: center;">
  <div class="col ">
    <mz-datepicker-container class="col s12" (click)="$event.stopPropagation()">
      <input mz-datepicker
             [label]="'Desde'"
             [options]="options"
             [(ngModel)]="desde"
             id="desde"
             placeholder="Selecione"
             type="text">
    </mz-datepicker-container>
  </div>
  <div class="col">
    <mz-datepicker-container class="col s12" (click)="$event.stopPropagation()">
      <input mz-datepicker
             [label]="'Hasta'"
             [options]="options"
             [(ngModel)]="hasta"
             id="hasta"
             placeholder="Selecione"
             type="text">
    </mz-datepicker-container>
  </div>
  <div class="col">
    <mz-select-container>
      <select mz-select
              id="options-select"
              [label]="'Estado'"
              [placeholder]="'Estado'" [(ngModel)]="estado">
        <option value="En proceso">En proceso</option>
        <option value="Exitoso">Exitoso</option>
        <option value="No exitoso">No exitoso</option>
      </select>
    </mz-select-container>
  </div>
  <div class="col">
    <button mz-button style="background-color: #cc0000" (click)="getReports()">
      Buscar
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="striped" style="width:70vw;    margin: 10% 0 0 14%;">
      <thead>
      <tr style="width: auto !important;">
        <th style="width: 20% !important;">Nombre</th>
        <th>Telefono</th>
        <th>Servicio</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{venta.client.nombre}}</td>
        <td>{{venta.client.telefono}}</td>
        <td>{{venta.service.nombre}}</td>
        <td>{{venta.user.local}}</td>
        <td>{{venta.created_at}}</td>
        <td>{{venta.estado}}
          <mz-select-container>
            <select mz-select
                    value="{{venta.estado}}" (change)="change(venta.id,$event.detail,venta)">
              <option class="left circle" value="En proceso">En proceso</option>
              <option class="left circle" value="Exitoso">Exitoso</option>
              <option class="left circle" value="No exitoso">No exitoso</option>
            </select>
          </mz-select-container>
        </td>
      </tr>
      </tbody>
    </table>
    <div style="    width: 70vw;
    margin: 0 0 0 14%;
    font-size: 26px;
    background-color: darkgrey;
    text-align: center;" *ngIf="!ventas.length">No hay datos disponibles
    </div>
  </div>
</div>
