<mz-navbar style="background-color: #cc0000 !important;">
  <img [align]="'left'" src="assets/images/logo.png" style="width: 120px;
    margin: 5px 0 0 5px">
  <mz-navbar-item-container [align]="'right'">
    <i class="material-icons" style="color: white; font-size: 48px;cursor: pointer" id="btn-sidenav-demo">
      menu
    </i>
  </mz-navbar-item-container>
</mz-navbar>
<table class="striped" style="width:70vw;    margin: 10% 0 0 14%;">
  <thead>
  <tr style="width: auto !important;">
    <th style="width: 20% !important;">Referido</th>
    <th>Telefono</th>
    <th>Referidor</th>
    <th>Ciudad</th>
    <th>Fecha</th>
    <th>Servicio</th>
    <th>Tipo servicio</th>
    <th>Puntos a cargar</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let venta of ventas; let i = index" class="centered">
    <td>{{venta.client.nombre}}</td>
    <td>{{venta.client.telefono}}</td>
    <td>{{venta.user.local}}</td>
    <td>{{venta.user.ciudad}}</td>
    <td>{{venta.created_at}}</td>
    <td>{{venta.service.nombre}}</td>
    <td>
      <p *ngIf="venta.service.nombre!=='Hogar'">{{venta.service.nombre}}</p>

      <mz-select-container *ngIf="venta.service.nombre==='Hogar'">
        <select mz-select value="" required (change)="changeType(i,$event.detail)">
          <option value="" selected>Tipo de servicio</option>
          <option class="left circle" value="20">DTH-Hogar</option>
          <option class="left circle" value="20">Sencillo-Hogar</option>
            <option class="left circle" value="40">Doble-Hogar</option>
            <option class="left circle" value="50">Triple-Hogar</option>
        </select>
      </mz-select-container>
    </td>
    <td>
      <p>{{venta.service.puntos}}</p>
    </td>
    <td class="col center-center center-align centered">

      <div class="col m1">
        <button mz-button style="background-color: #12cc16" (click)="change(venta.id,'Exitoso',venta)">
          Exitoso
        </button>
      </div>
      <div class="col m1">
        <button mz-button style="background-color: #cc0000;width: max-content;"
                (click)="change(venta.id,'No exitoso',venta)">
          No exitoso
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div style="    width: 70vw;
    margin: 0 0 0 14%;
    font-size: 26px;
    background-color: darkgrey;
    text-align: center;" *ngIf="!ventas.length">No hay datos disponibles
</div>
<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header style="background-color: #cc0000 !important;">
    <mz-navbar>
      <a href="#" class="brand-logo">GanaClaro</a>
    </mz-navbar>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/main"><i class="material-icons">
      dashboard
    </i>Dashboard</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/reportes"><i class="material-icons">
      insert_chart
    </i>Reportes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/add"><i class="material-icons">
      account_circle
    </i>Agregar usuario</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/prom"><i class="material-icons">
attach_money
</i>Promociones</a>
  </mz-sidenav-link>
 <mz-sidenav-link>
    <a routerLink="/puntos"><i class="material-icons">
      monetization_on
    </i>Puntos</a>
  </mz-sidenav-link>
</mz-sidenav>

