/* You can add global styles to this file, and also import other style files */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.w-75 {
  width: 75%;
}

nav {
  background-color: #cc0000 !important;
}

.picker__date-display {
  background-color: #cc0000 !important;
}

.picker__weekday-display {
  background-color: #cc0000 !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #cc0000 !important;
}
.picker__close, .picker__today{
  color: #cc0000 !important;
}
